html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
.Grid
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 1fr auto;
    
    height: 100svh;
}
.Header
{
    display:flex;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: flex-end;
}
body { /* Normal colour */
    background-color: rgb(18, 18, 18);
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
/* All the colours */
body .Header,
Body .LeftSidebar,
Body .RightSidebar,
Body .Footer
{
    background-color: rgb(33, 33, 33);
}
/* Lightmode Normal colour */
body.Light
{
    background-color: rgb(250, 250, 250);
    color: black;
}
/* All the Lightmode colours */
body.Light .Header,
body.Light .LeftSidebar,
body.Light .RightSidebar,
body.Light .Footer
{
    background-color: rgb(224, 224, 224);
    color: black;
}
.LightToggle /* Lightmode switch */
{
    position: relative;
    background-color: rgb(225, 152, 8);
    width: 45px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.5s ease;
    transform:translateX(0%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.Box /* The box that the light toggle button is sitting inside of    */
{
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 50);
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 25%;
}
.LightToggle.active
{
    transform:translateX(calc(100% + 10px));
    background-color: rgb(75,85,99);
}
body.Light .Box
{
    background: rgb(182, 178, 178);
}

.Main
{
    grid-column: 3 / 11;
    grid-row: 2;
    gap: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 0;
}
.splide
{
    width: 100%;
    height: 100%;
}
.splide__slide
{
    display: flex;;
    align-items: center;
    justify-content: center;
}
.splide__slide img
{
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
    display: block;
}
.splide__track,
.splide__list,
.splide__slide {
    height: 100%;
}
.LeftSidebar
{
    grid-column: 1 / 3;
    grid-row: 2;
}
.Job
{
    margin-left: 10px;
    line-height: 1.5;
}
.Grades
{
    margin-left: 10px;
    line-height: 1.5;
}
.Info
{
    margin-left: 10px;
    line-height: 1.5;
}
.RightSidebar
{
    grid-column: 11 / 13;
    grid-row: 2;
}
.titleAvatar
{
    margin: 0;
    padding-bottom:25px;
    padding-left: 25px;
}
.avatar
{
    max-width: 200px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

}
.avatar img
{
    object-fit: fill;
    width: 100%;
}
Footer
{
    grid-row: 3;
    grid-column: 1 / -1;

    display:flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
}
.Footer nav /*Navigation menu     */
{
    display:flex;
    gap:20px;
}
.JobExperience,
.SchoolExperience,
.SomethingElse,
.ContactInfo
{
    background-color: rgb(225, 152, 8);
    color:white;

    width: 75px;
    height: 75px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit:cover;
}
body.Light .JobExperience,
body.Light .SchoolExperience,
body.Light .SomethingElse,
body.Light .ContactInfo
{
    background: rgb(182, 178, 178);
    Color: Black;
}
body.Light .LightToggle /*The text felt unreadable when the text was black due to that i had to lower the font size for text to fit better  */
{
    color:white;
}
/* Colour changes if mouse is held over the button   */
.JobExperience:hover,
.SchoolExperience:hover,
.SomethingElse:hover,
.ContactInfo:hover,
body.Light .JobExperience:hover,
body.Light .SchoolExperience:hover,
body.Light .SomethingElse:hover,
body.Light .ContactInfo:hover
{
    background-color: rgb(34, 194, 42);
}
/*Starts out as hidden except for title when button is pressed so will .show stuff happen */
.splide,
.Title.hide,
.Grades,
.Job,
.Info
{
    display:none;
}
/*If button gets pressed it will display the hidden stuff   */
.splide.show,
.Title,
.Grades.show,
.Job.show,
.Info.show
{
    display:block;
}

.Githubcolour
{
    color: inherit;
}
@media (max-width: 600px) { /*This i need to fix eventually not sure how to do mobile stuff so had to guess my way through but it works atleast   */
    .Grid {
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto auto;
    }

    .LeftSidebar,
    .RightSidebar {
        grid-column: 1;
        grid-row: auto;
    }

    .Main {
        grid-column: 1;
        grid-row: auto;
        justify-content: center;
        align-items: stretch;
        padding: 10px;
    }

}
